*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: cursive;
	list-style: none;

}
.navbar{
	width: 1340px;
	position: ;
	background-color: crimson;
	height: 90px; 

}
.navbar .max-width{
	width: 1300px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: 20px auto;
}
.menu{
	padding-top: 20px;
}
.menu li{
	display: inline-block;

}
.menu li a{
	color: white;
	font-size: 20px;
	font-weight: 200;
	margin-left: 25px;
	transition: 1s;



}
.galerie{
	margin-right: 100px;
}
.sous{
	display: none;
	position: absolute;
	width: 200px;


}
.menu li:hover .sous{
	display: block;
}
.sous li{
	width:100%;
	text-align: center;
	margin-right: 50px;
	
	


}

.menu li a:hover{
	color: black;
	text-decoration: underline;



}
.logo a{

	color: #fff;
	font-size: 40px;
	font-weight: 500;

}

.log{
	width: 70px;
	height: 50px;
}

.hom{
		height: 700px;
	
	display: flex;
	width: 1340px;
	background-color:  #020528;
	padding-top: 50px;
}
.align-left{
	float:left;
	width: 400px;
	height: 300px;
	margin-right: 50px;
	margin-left: 30px;
	margin-top: 40px;
	border-radius: 20px;
}
p.align-right{
	width: 70%;
	font-size: 20px;
	padding-top: 40px;
color: white;
display:inline;



}
span{
	color: #077B70;
	font-weight: bold;
}

.home2{
	height: 600px;
	background: url('');
	display: flex;
	width: 1340px;
	background-color: #020528;
	padding-top: 50px;
}
p.align-left2{
	width: 70%;
	font-size: 20px;
	
color: white;
display:inline;
}
.align-right2{
	float:left;
	width: 400px;
	height: 400px;
	margin-right: 50px;
	margin-left: 30px;
	margin-top: 40px;
	border-radius: 20px;
}
.home1{
	height: 730px;
	background: url('');
	display: flex;
	width: 1340px;
	background-color: #020528;
	padding-top: 50px;
}
.align-right1{
	width: 70%;
	font-size: 20px;
	padding-top: 40px;
color: white;
display:inline;


}
.align-left1{
	float:left;
	width: 400px;
	height: 400px;
	margin-right: 50px;
	margin-left: 30px;
	margin-top: 40px;
	border-radius: 20px;

}
.home3{
	height: 600px;
	background: url('');
	display: flex;
	width: 1340px;
	background-color: #020528;
	padding-top: 50px;
}
p.align-left3{
	width: 70%;
	font-size: 20px;
	color: white;
	
color: white;
display:inline;
}
.align-right3{
	float:left;
	width: 400px;
	height: 400px;
	margin-right: 50px;
	margin-left: 30px;
	margin-top: 40px;
	border-radius: 20px;
}
.fin{
	color: white;
	background-color: black;
	font-size: 20px;
	text-align: center;

}